* {
  box-sizing: border-box;
}
center { 
  color: white;
  font-family: Sans-serif;
  font-size: 40px;
}
html {
        overflow: auto;
		-ms-overflow-style: -ms-autohiding-scrollbar;
}

::-webkit-scrollbar {
	display: none;
}

body {
  background-color: black;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 1500px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

