* {box-sizing:border-box}

body{
  background-color: black;
  overflow: hidden;
}

/* Slideshow container */
.slideshow-container {
  width: 100%    !important;
  height: auto   !important;
  position: relative;
  margin: auto;
  align-items: center;
}


img {
  max-width:100%;
  height:auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

.twitter-timeline {
  width: 100vw !important;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

video {
  width: 100%    !important;
  height: auto   !important;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}